
@{
    ViewBag.Title = "Register";
}
<link rel="stylesheet" href="~/Content/style.css" />
<div class="detailsBox">
    <h2>Register</h2>
    <span style="color: red;">@ViewBag.Message</span>
    <div class="input-group">
        @using (Html.BeginForm("RegisterUser", "Login", FormMethod.Post))
            {
            <div class="input-text input-field">
                <input type="text" name="username" placeholder="Login..." />
            </div>
            <div class="input-text input-field">
                <input type="password" name="password" placeholder="Password..."/>
            </div> 
            <div class="input-text input-field">
                <input type="text" name="email" placeholder="adam@gmail.com"/>
            </div>
            <div class="input-button input-field">
                <input type="submit" value="Register" />
            </div>
            }
    </div>
</div>
