@model List<Portfolio.Web.Models.PortfolioGridVM>
@{
    ViewBag.Title = "Portfolio";
}

<style>
    .image-item {
        text-align: center;
        display: inline-block;
        margin: 15px;
    }

    .image-grid {
        text-align: center;
    }

    .add-view-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div class="section portfolio">
    <h2>Portfolio</h2>
    <p>Here are some projects I've been working on, and simple utility tools I have created:</p>
    <div class="image-grid">
        @foreach (var image in Model)
        {
            <div class="image-item">
                <a href="@image.LinkUrl"><img src="data:image/jpg;base64,@image.PictureURL" style="width: 300px; height: auto;" /></a>
                <div class="image-item-link">
                    <p>@image.LinkText</p>
                </div>
            </div>
        }
    </div>
</div>
@if ((bool)ViewBag.IsAdmin)
{
    @Html.ActionLink("Add New Project", "AddPortfolioView", "Portfolio", null, new {@class = "add-view-button"})
}