@model List<Portfolio.Web.Models.PortfolioGridVM>
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/style.css" />
<style>
    .container{
        width: auto;
    }

    .portfolio {
        width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .cv {
        width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .go-to-cv-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .image-item {
        text-align: center;
        display: inline-block;
        margin: 15px;
    }

    .image-grid {
        text-align: center;
    }
</style>
<div class="section banner">
    <div id="banner" style="background-image: url('/App_Images/FrontPage/20230507_163439.jpg'); background-size: cover; position: relative; width: 100%; height: 600px; object-fit: fill; ">
        <div style="position: absolute; top: 50%; left: 20%; transform: translate(-50%, -50%); color: black; font-size: 20px; width: 300px;">
            <h1>Hello, I'm Oskar!</h1>
            <span>I am a software developer. I have 2 years of excellent experience in deveoping and maintaining .NET Web Applications.</span><br />
            @Html.ActionLink("Want to know more?", "CV")
        </div>
    </div>
</div>
<div class="section portfolio">
    <h1>Portfolio</h1>
    <div class="image-grid">
        @foreach(var image in Model)
        {
            <div class="image-item">
                <a href="@image.LinkUrl"><img src="data:image/jpg;base64,@image.PictureURL" style="width: 300px; height: auto;" /></a>
                <div class="image-item-link">
                    <p>@image.LinkText</p>
                </div>
            </div>
        }
    </div>
</div>
<div class="section cv">
    <h1>About me</h1>
    @Html.ActionLink("See more!", "Index", "Aboutme", null, new { @class = "go-to-cv-button" })
</div>